/* 全局 盒模型 设置 */
:root {
    box-sizing: border-box;
    
}
*, ::before, ::after {
    box-sizing: inherit;
}



body {
    font-family: system-ui;
    background-color: rgba(15, 15, 18, 1);
    color: rgb(208, 208, 208);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


pre {
    font-family: inherit;
    margin: 0px;
    white-space: pre-wrap;
}

a {
    color: blueviolet;

}
a:active, a:hover {
    outline-width:0
}

.Content {
    margin : 0px 10px;
}

.Title {
    text-align: center;
    font-size: 1.5rem;
}

.Main {
    

}

.Topic {
    display: flex;
    flex-direction: column;
}
.Topic-name {
    padding: .5em 0;
}
.Topic-value {
    display: flex;
    flex-direction: column;
}
.Topic-value > * + * {
    margin-top: .5em;
}

.O {
    padding: .3em;
    border: 1px solid rgb(75, 54, 113);
    border-radius: 6px;
    background-color: rgba(11, 11, 11, 1);
    color: rgb(208, 208, 208);
    
}
.O-id {
    font-size: .7em;
    text-align: right;
}
.O-data {

}

.Number {}

.Lis {
    padding: .5em;

}
.Lis > * + * {
    margin-top: .5em;
}
.Lis-i {
    
    padding: .3em 0;  
    font-size: .95em;
}

.KVs {}
.KVs-k {}
.KVs-v {
    /*
    padding-left: .5em;
    border-left: 1px solid rgb(75, 54, 113);
    */
}


.Ref {
    display: flex;
}
.Ref-rid {}
.Ref-rtop {
    padding-left: 1em;
}
.Ref-des {
    padding-left: 1em;
}

.Oth {}

.Link {
    font-size: 1em;
    
}
.Link a {
    color: rgb(153, 115, 179);
}
.Link-pdate {
    font-size: .8em;
    padding-left: 0.5em;
}
.Link-des {
    font-size: .8em;
    padding-left: 0.3em;
}

.Img {}

.Code {}
.Code-lang {}
.Code pre {}



