
/* 全局 盒模型 设置 */
:root {
    box-sizing: border-box;
    
}
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: system-ui;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 35em){
    :root {
        box-sizing: border-box;
        font-size: 1.5em;
    }

}


.Content {
    margin: 0 auto;
    
}

.Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Title {
    text-align: center;
    font-size: 1.5rem;
}

.Book {
    padding: 1em 0;
}

img.Book-cover {
    max-height: 600px;
}

.Book-info {
    padding: 1em 0;
    font-size: .9em;
}



.Book-info li+li {
    padding-top: 1em;
}

.Note {
    padding: 1em;
    width: 100%;
}

.Note-title {
    border-bottom: .2em solid #6699CC;
    margin-bottom: .5em;
    font-size: 1.2rem;
    text-align: center;
    
}


.Note-chapters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: .8em;
    justify-items: center;   
}


.Chapter {
    padding-right: .5em;
}

.Chapter + .Chapter {
    padding-top: 1.5em;
}

.Chapter-title {
    display: inline-block;
    padding-bottom: .8em;
}


.Title-content {
    border-bottom: 2px solid steelblue;
}


.Chapter-text {
    padding: 0px 0px 0 1em;
    font-size: 0.9rem;
}

.Chapter-text + .Chapter-text {
    padding-top: 1em;
}


.Text-content {
    
    text-align: justify;
    line-height: 1.5;
    
}


.Thinking {
    padding: 1em;
}

.Thinking-title {
    border-bottom: .2em solid #6699CC;
    margin-bottom: .5em;
    font-size: 1.2rem;
    text-align: center;
    
}

.Thinking-content {
    line-height: 1.5;
    
}

.o-list-n + .o-list-n {
    margin-top: 1em;
}

.o-kv-k {
    
    display: inline;
    border-bottom: 2px solid #6699CC;
}

.o-kv-v {
    padding-left: 1em;
    font-size: .95em;
    line-height: 1.5;
    margin-top: .5em;
}