html {
    font-family: system-ui;

}

pre {
    font-family: inherit;
    margin: 0px;
    white-space: pre-wrap;
}

.Content {
    margin: auto;
    font-size: 1rem;
}

.Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Title {
    text-align: center;
    font-size: 1.5em;
}

.Book {

    padding: 1rem 0;
}

img.Book-cover {
    max-height: 500px;
}

.Book-info {
    padding: 0 1rem;
}

.Book-info li+li {
    padding-top: 1rem;
}

.Note {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.Note-title {
    border-bottom: .2rem solid #6699CC;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    text-align: center;
    flex: 2;
}

.Note-chapters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Chapter {
    padding-right: .5rem;
}

.Chapter+.Chapter {
    padding-top: 1.5rem;
}

.Chapter-title {
    display: flex;
    padding-bottom: .8rem;
}

.Title-num {
    display: flex;
    min-width: 50px;
    align-items: center;
    justify-content: space-around;
}

.Title-content {
    border-bottom: 2px solid steelblue;
}


.Chapter-text {
    display: flex;
    padding: 0px 0px 0 1rem;
    font-size: 0.9rem;
}

.Chapter-text+.Chapter-text {
    padding-top: 1rem;
}

.Text-num {
    display: flex;
    min-width: 50px;
    align-items: center;
    justify-content: space-around;
    /* border-right: 5px solid orange;*/
}

.Text-content {
    /*padding-left: 5px;*/
    text-align: justify;
    line-height: 1.5em;
    flex: 2
}

.Marker {
    border-left: 3px solid #6699CC;

    padding-right: .3rem;


}

.Original .Title {
    text-align: left;
    font-size: 1.2rem;
    margin: 1rem;
    border-bottom: 3px solid #6699CC;
}

.Note .Title {
    text-align: left;
    font-size: 1.2rem;
    margin: 1rem;
    border-bottom: 3px solid #6699CC;
}

.Thinking {
    flex: 2;
    max-width: 600px;
    min-width: 300px;
    padding: 1rem;
}

.Thinking-title {
    border-bottom: .2rem solid #6699CC;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    text-align: center;
    flex: 2;
}

.Thinking-content {
    line-height: 1.5em;
}

.o-list-n+.o-list-n {
    margin-top: 1em;
}

.o-kv-k {
    display: inline;
    border-bottom: 2px solid #6699CC;
}

.o-kv-v {
    padding-left: 1rem;
    font-size: .9em;
    line-height: 1.5em;
    margin-top: .5em;
}