
/* 全局 盒模型 设置 */
:root {
    box-sizing: border-box;
    
}
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: system-ui;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


pre {
    font-family: inherit;
    margin: 0px;
    white-space: pre-wrap;
}

.site-header {
    text-align: center;
}

.site-header img {
    width: 100px;
    height: 100px;
}

.site-footer {
    font-size: 1rem;
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 1em;
}

.Content {
    margin: auto;
    font-size: 1em;
    min-height: 80vh;
}


.Title {
    text-align: center;
    font-size: 1.5em;
}


.Past {
    padding: 1em;
}

.Topics {
    padding: 1em;
}

.Topic {
    padding-left: 1em;
    font-size: .9em;
}

.Topic + .Topic {
    padding-top: .8em;
    font-size: .9em;
}

.Topics-title {
    padding-bottom: .5em;
}