
/* 全局 盒模型 设置 */
:root {
    box-sizing: border-box;
    
}
*, ::before, ::after {
    box-sizing: inherit;
}

* + * {
    margin-top: 1em;
}

body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-color: rgba(15, 15, 18, 1);
    color: rgb(208, 208, 208);
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


pre {
    font-family: inherit;
    margin: 0;
    white-space: pre-wrap;
}

.site-header {
    text-align: center;
}

.site-header img {
    width: 100px;
    height: 100px;
}

.site-footer {
    font-size: 0.9em;
    text-align: center;
    padding: 1em 0;
}

.Content {
    margin: auto;
    font-size: 1em;
    min-height: 80vh;
}


.Title {
    text-align: center;
    font-size: 1.5em;
}

a {
    font-size: .9em;
    color: lightblue;
}

.Main {
    padding: 0 1em;
}

.Past {
    padding: 1em;
    
}

.Topics {
    padding: 1em;
    
    border: 1px solid rgb(75, 54, 113);
    border-radius: 15px;
    background-color: rgba(11, 11, 11, 1);
}

.Topic-title {
    margin-bottom: .5em;
    border-bottom: 1px solid lightgray;
}

.Topic-note {
    font-size: .9em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.Topic-think {
    font-size: .9em;
    padding-bottom: 1em;
    padding-left: 1em;
}
.Note,.Think {
    padding-left: 1em;
    font-size: .9em;    
}
.Note + .Note {
    padding-top: .8em;
}

.Think + .Think {
    padding-top: .8em;
}
