

.align-right {
    text-align: right;
    padding-right: .8em;
}
.Accounting > * + * {
    margin-top: 2em;
}
table {
    font-size: .8em;
    border-collapse: collapse;
    text-align: left;
    
}
caption {
    padding: .5em 0;
    font-size: 1.5em;
    text-align: center;

}
thead {}
tbody {
    border-bottom: 1px solid;
}
tr {}
thead th {
    font-weight: normal;
    
    border-bottom: 1px solid;
    padding-right: 2em;
}
tbody td {
    border-bottom: 1px dotted;
    padding: .5em 0;
    padding-right: 2em;
}

.Img {

    height: 50em;
}
.Code {
    border: 1px solid rgb(75, 54, 113);
    padding: 0 1em 1em 0;
    border-radius: 6px;
    display: inline-block;
}
.Code-lang {
    padding: 0 .3em;
    border-right: 1px solid rgb(75, 54, 113);
     border-bottom: 1px solid rgb(75, 54, 113);
}
.Code pre {
    padding: .5em;
}

.Bookkeeping {
    margin: 2em;
   
    display: flex;
    justify-content: center;
}
.Bookkeeping > .Lis {
     border: 1px solid rgb(75, 54, 113);
    border-radius: 6px;
}
.Bookkeeping > .Lis > .Lis-i {
    padding: .5em;
    padding-bottom: 1em;
   border-bottom: 1px solid rgb(75, 54, 113);
    /*border-radius: 6px;*/
    background-color: rgba(11, 11, 11, 1);
    color: rgb(208, 208, 208);
}
.KVs {
    padding: .5em 0 0 0;
   
}
.KVs-k {
    
}