

.o-list{
  
}
.o-list-i{
    padding: 1em;
    border: 1px solid rgb(75, 54, 113);
    border-radius: 6px;
    background-color: rgba(11, 11, 11, 1);
}

.o-kv{}
.o-kv-k{}
.o-kv-v{}
.o-kv-v .o-list-i {
    border: 0;
    padding: 0 .5em;
}
.o-kv .o-kv {
    font-size: .95em;
}

.o-link{}

.o-img{
    width: 100%;
    max-width: 800px;
}

.o-ref{}

.o-code {
    font-size: 1em;
    border: 1px solid rgb(101, 50, 106);
    border-radius: 6px;
    font-family: monospace;
}
.o-code-lang {
    padding: .1em;
    border-radius: 0 0 6px 0;
    border-bottom: 1px solid rgb(101, 50, 106);
    border-right: 1px solid rgb(101, 50, 106);
}
.o-code-src {
    padding: .5em 1em;
    overflow-x: scroll;
    white-space: pre;
}

.o-other{}
